# Force LF on all text files
* text=auto eol=lf

# Explicitly declare text files
*.py    text eol=lf
*.toml  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.md    text eol=lf
*.sh    text eol=lf
*.conf  text eol=lf

# Binary files
*.png   binary
*.jpg   binary
*.gif   binary
*.ico   binary
*.onnx  binary
